<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaowu.system.mapper.BusClassesMapper">
    
    <resultMap type="BusClasses" id="BusClassesResult">
        <result property="classId"    column="class_id"    />
        <result property="classNumber"    column="class_number"    />
        <result property="className"    column="class_name"    />
    </resultMap>

    <sql id="selectBusClassesVo">
        select class_id, class_number, class_name from bus_classes
    </sql>

    <select id="selectBusClassesList" parameterType="BusClasses" resultMap="BusClassesResult">
        <include refid="selectBusClassesVo"/>
        <where>  
            <if test="classNumber != null  and classNumber != ''"> and class_number = #{classNumber}</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
        </where>
    </select>
    
    <select id="selectBusClassesByClassId" parameterType="Long" resultMap="BusClassesResult">
        <include refid="selectBusClassesVo"/>
        where class_id = #{classId}
    </select>

    <insert id="insertBusClasses" parameterType="BusClasses" useGeneratedKeys="true" keyProperty="classId">
        insert into bus_classes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classNumber != null and classNumber != ''">class_number,</if>
            <if test="className != null and className != ''">class_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classNumber != null and classNumber != ''">#{classNumber},</if>
            <if test="className != null and className != ''">#{className},</if>
         </trim>
    </insert>

    <update id="updateBusClasses" parameterType="BusClasses">
        update bus_classes
        <trim prefix="SET" suffixOverrides=",">
            <if test="classNumber != null and classNumber != ''">class_number = #{classNumber},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteBusClassesByClassId" parameterType="Long">
        delete from bus_classes where class_id = #{classId}
    </delete>

    <delete id="deleteBusClassesByClassIds" parameterType="String">
        delete from bus_classes where class_id in 
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>