<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaowu.system.mapper.BusStudentsMapper">
    
    <resultMap type="BusStudents" id="BusStudentsResult">
        <result property="studentId"    column="student_id"    />
        <result property="studentNumber"    column="student_number"    />
        <result property="studentName"    column="student_name"    />
        <result property="gender"    column="gender"    />
        <result property="birthDate"    column="birth_date"    />
        <result property="email"    column="email"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="major"    column="major"    />
        <result property="classId"    column="class_id"    />
    </resultMap>

    <sql id="selectBusStudentsVo">
        select student_id, student_number, student_name, gender, birth_date, email, phone_number, major, class_id from bus_students
    </sql>

    <select id="selectBusStudentsList" parameterType="BusStudents" resultMap="BusStudentsResult">
        <include refid="selectBusStudentsVo"/>
        <where>  
            <if test="studentNumber != null  and studentNumber != ''"> and student_number = #{studentNumber}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="birthDate != null "> and birth_date = #{birthDate}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="classId != null "> and class_id = #{classId}</if>
        </where>
    </select>
    
    <select id="selectBusStudentsByStudentId" parameterType="Long" resultMap="BusStudentsResult">
        <include refid="selectBusStudentsVo"/>
        where student_id = #{studentId}
    </select>

    <insert id="insertBusStudents" parameterType="BusStudents" useGeneratedKeys="true" keyProperty="studentId">
        insert into bus_students
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNumber != null and studentNumber != ''">student_number,</if>
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="gender != null">gender,</if>
            <if test="birthDate != null">birth_date,</if>
            <if test="email != null">email,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="major != null">major,</if>
            <if test="classId != null">class_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNumber != null and studentNumber != ''">#{studentNumber},</if>
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthDate != null">#{birthDate},</if>
            <if test="email != null">#{email},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="major != null">#{major},</if>
            <if test="classId != null">#{classId},</if>
         </trim>
    </insert>

    <update id="updateBusStudents" parameterType="BusStudents">
        update bus_students
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNumber != null and studentNumber != ''">student_number = #{studentNumber},</if>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="major != null">major = #{major},</if>
            <if test="classId != null">class_id = #{classId},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteBusStudentsByStudentId" parameterType="Long">
        delete from bus_students where student_id = #{studentId}
    </delete>

    <delete id="deleteBusStudentsByStudentIds" parameterType="String">
        delete from bus_students where student_id in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>